.nova-flat {
    font-family: "Nova Flat", system-ui;
    font-weight: 400;
    font-style: normal;
}

.overpass-mono {
    font-family: "Overpass Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

* {
    border: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    background-color: #121212;
}

.s_media {
    display: flex;
    width: 100%;
    height: fit-content;
    justify-content: flex-end;
}

.s_media_item {
    margin: 15px;
    transition: transform 0.5s ease;

}

.s_media_item:hover {
    transform: scale(1.2);
}

header {
    display: flex;
    background-color: #FCFCFC;
    width: 100%;
    height: 500px;
    
}

.grey-font {
    color: #7C7A7A;
    font-size: 30px;
    font-family: "Nova Flat", system-ui;
}

.black-font {
    color: black;
    font-size: 60px;
    font-family: "Overpass Mono", monospace;
    font-weight: 500;
    margin-bottom: 15px;
}

.introduction_container {
    width: 50%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 10%;

}

.img_container {
    display: flex;
    width: 50%;
    height: auto;
}

img {
    width: 498px;
}

.sections_container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 80%;
    height: 60px;
    background-color: #FCFCFC;
    margin: 50px 0;
    border-radius: 20px;
    transition: width 0.5s ease, border-radius 0.5s ease;

}

.sections_container:hover {
    width: 100%;
    border-radius: 0;
}

.section {
    font-family: "Overpass Mono", monospace;
    font-size: x-large;
    color: black;
    text-decoration: none;
}

.section:hover {
    background-color: black;
    color: white;
    border-radius: 20px;
    padding: 5px;
}

main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about_me_container {
    display: flex;
    width: 60%;
    flex-direction: column;
    align-items: center;
    color: white;
}

.about_me_section {
    color: white;
    width: 100%;
    border-bottom: 5px solid white;
    border-top: 5px solid white;
    margin-bottom: 50px;
    font-family: "Overpass Mono", monospace;
    font-size: larger;
    padding: 20px;
    position: relative;
    transition: background-color 0.5s ease, border-radius 0.5s ease;

}

.about_me_section:hover {
    background-color: #FCFCFC;
    color: black;
    border-radius: 20px;
}

.about_me_text {
    margin: 15px 10px 20px 10px;
    color: #7C7A7A;
}

.about_me_text:hover {
    color: black;
}

.location {
    position: absolute;
    bottom: 5px;
    right: 20px;

}

.location_icon {
    fill: white
}

.location_icon:hover {
    fill: black
}

.skills_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    width: 80%;
    margin-bottom: 50px;
}

.t_skills {
    display: flex;
    border-top: 5px solid white;
    border-bottom: 5px solid white;
    width: 100%;
    height: auto;
    padding: 40px;
}

.s_title {
    font-size: xx-large;
    align-self: baseline;
    font-family: "Nova Flat", system-ui;
}

.grid_container {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(6, 1fr);
    gap: 10px;
    width: 100%;
    height: auto;
}

.item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    color: white;
    font-size: x-large;
    font-family: "Overpass Mono", monospace;
}

.item:hover {
    transform: scale(1.1);
}

.s_skills {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    border-top: 5px solid white;
    border-bottom: 5px solid white;
    width: 100%;
    height: 150px;
    padding: 10px;
    font-family: "Overpass Mono", monospace;
    align-items: center;
    justify-content: space-around;
    color: white;
    font-size: x-large;

}

.s_skills_art {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.projects_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #ffffff;
    width: 90%;
    height: 300px;
    margin: 50px 0;
    padding: 20px;
    border-radius: 20px;
    transition: width 0.5s ease, border-radius 0.5s ease;

}

.projects_container:hover {
    width: 100%;
    border-radius: 0;

}

.projects {
    display: flex;
    justify-content: space-around;
    position: relative;
    width: 100%;
}

.project-container {
    display: flex;
    border-radius: 20px;
    width: 300px;
    height: 70%;
    margin: 10px;
    color: #121212;
    font-size: 10px;
}

.project-img {
    width: 50%;
    height: auto;
    border-radius: 20px;
    cursor: pointer;
}

.project-text {
    display: flex;
    flex-direction: column;
    font-family: "Overpass Mono", monospace;
    padding: 10px;
    visibility: visible;
    transition: visibility 0s, opacity 0.5s linear;
}

.project-text.visible {
    visibility: visible;
    opacity: 1;
}


.contact_container {
    display: flex;
    flex-direction: column;
    color: white;
    margin-bottom: 150px;
}

.section_contact {
    color: white;
    display: flex;
    flex-direction: column;
    border-top: 5px solid white;
    border-bottom: 5px solid white;
    padding: 20px;
}

.contact {
    display: flex;
    font-family: "Overpass Mono", monospace;
    font-size: medium;
    align-items: center;
    margin: 10px 0;
}

.contact_info {
    margin: 10px;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background-color: #FCFCFC;
    display: flex;
    align-items: center;
    justify-content: center;

}

footer:hover {
    background-color: #121212;
}

.home {
    transition: fill 0.3s ease;
    fill: black;

}

.home:hover {
    fill: white;
}

@media (max-width: 855px) {

    body{
        width: 80vh;
    }
    
    .about_me_container {
        width: 100%;
    }

    .grid_container {
        grid-template-columns: repeat(3, 1fr);
    }

    header {
        width: 80vh;
        height: auto;
    }

    .grey-font {
        font-size: 20px;
    }

    .black-font {
        font-size: 40px;
    }

    img {
        width: 298px;
    }
    
.sections_container {
    justify-content: space-evenly;
    width: 70vh;
    height: 60px;
    background-color: #FCFCFC;
    margin: 50px 0;
    border-radius: 20px;
    transition: width 0.5s ease, border-radius 0.5s ease;

}

.sections_container:hover {
    width: 100%;
    border-radius: 0;
}

.section {
    font-family: "Overpass Mono", monospace;
    font-size: large;
    color: black;
    text-decoration: none;
}

.section:hover {
    background-color: black;
    color: white;
    border-radius: 20px;
    padding: 5px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
}

.about_me_container {
    display: flex;
    width: 60%;
    flex-direction: column;
    align-items: center;
    color: white;
}

.about_me_section {
    color: white;
    width: 100%;
    border-bottom: 5px solid white;
    border-top: 5px solid white;
    margin-bottom: 50px;
    font-family: "Overpass Mono", monospace;
    font-size: medium;
    padding: 20px;
    position: relative;
    transition: background-color 0.5s ease, border-radius 0.5s ease;

}

.about_me_section:hover {
    background-color: #FCFCFC;
    color: black;
    border-radius: 20px;
}

.about_me_text {
    margin: 15px 10px 20px 10px;
    color: #7C7A7A;
}

.location {
    position: absolute;
    bottom: 5px;
    right: 20px;

}


.projects_container {
    width: 100%;
    height: auto;
    margin: 50px 0;
    padding: 10px 50px;
    border-radius: 0px;
    transition: width 0.5s ease, border-radius 0.5s ease;

}

.projects_container:hover {
    width: 100%;
    border-radius: 0;

}

.projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    position: relative;
    width: 100%;
}

.project-container {
    display: flex;
    border-radius: 20px;
    width: 300px;
    height: 70%;
    margin: 10px;
    color: #121212;
    font-size: 10px;
}

.project-img {
    width: 50%;
    height: auto;
    border-radius: 20px;
    cursor: pointer;
}

.project-text {
    display: flex;
    flex-direction: column;
    font-family: "Overpass Mono", monospace;
    padding: 10px;
    visibility: visible;
}

.project-text.visible {
    visibility: visible;
    opacity: 1;
}


}

@media (max-width: 1420px) {
    .projects_container {
        width: 100%;
        height: auto;
        margin: 50px 0;
        padding: 10px 50px;
        border-radius: 0px;
        transition: width 0.5s ease, border-radius 0.5s ease;
    
    }
    
    .projects_container:hover {
        width: 100%;
        border-radius: 0;
    }
    
    .projects {
        display: flex;
        flex-wrap: wrap;
    }
    
    
}
@media (max-width: 480px) {
    .grid_container {
        grid-template-columns: repeat(2, 1fr);
    }
}